* {
  font-size: 1rem;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 36px 14px 36px;
}

.search-title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0px 0px 0px 16px;
  width: 61px;
  height: 40px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 0px 16px 0px 12px;
  padding: 12px 15px 12px 15px;
  border: 1px;
  border-style: solid;
  border-radius: 0.2rem;
  color: black;
  width: 100%;
}

input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

::placeholder {
  color: black;
}
